/* line 1, D:/Michal/Programovani/theTopfer/fallback.scss */
a {
  color: #151515; }

/* line 6, D:/Michal/Programovani/theTopfer/fallback.scss */
main {
  background: #DDDDDD; }

/* line 12, D:/Michal/Programovani/theTopfer/fallback.scss */
section h1 {
  color: #151515; }

/* line 17, D:/Michal/Programovani/theTopfer/fallback.scss */
section#projects .project {
  color: #282828; }
  /* line 21, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project h2 {
    color: #151515; }
  /* line 25, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project a {
    color: #b74e00; }
  /* line 30, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project1 {
    background-color: #ffffff; }
    /* line 34, D:/Michal/Programovani/theTopfer/fallback.scss */
    section#projects .project#project1 .project-picture {
      background-color: #ff7f20;
      color: #282828; }
  /* line 42, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project2 {
    background-color: #ff9545; }
  /* line 47, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project3 {
    background-color: #ff9545; }
  /* line 52, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project4 {
    background-color: #fdfdfd; }

/* line 63, D:/Michal/Programovani/theTopfer/fallback.scss */
section#games .game#m-project {
  background-color: #ffffff; }

/* line 72, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team h2 {
  color: #151515; }

/* line 77, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team p {
  color: #282828; }

/* line 82, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team .member {
  background: #ff9545; }

/* line 87, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team .leader {
  background: #ffffff; }

/* line 96, D:/Michal/Programovani/theTopfer/fallback.scss */
section#contact form {
  color: #282828; }
  /* line 99, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#contact form input, section#contact form textarea {
    border: 2px solid #ff9545;
    background: #FFF; }
  /* line 106, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#contact form input[type=submit] {
    background: #ff9545;
    color: white; }

/* line 113, D:/Michal/Programovani/theTopfer/fallback.scss */
section#contact #contactFrame {
  color: white; }

/* line 119, D:/Michal/Programovani/theTopfer/fallback.scss */
nav {
  background: #ffffff; }
  /* line 124, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav #logo-small .cls-1 {
    fill: #ffa968; }
  /* line 137, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav #menu {
    background: #ffffff; }
    /* line 141, D:/Michal/Programovani/theTopfer/fallback.scss */
    nav #menu > li {
      color: #a5a5a5; }
      /* line 144, D:/Michal/Programovani/theTopfer/fallback.scss */
      nav #menu > li.currentPage {
        color: #ff7f20; }
    /* line 149, D:/Michal/Programovani/theTopfer/fallback.scss */
    nav #menu > li:hover {
      color: #9f4400; }
  /* line 157, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav.fixed #logo-small:hover > .cls-1 {
    fill: #ff7f20; }

/* line 170, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.about .sliderbox {
  color: #FFF;
  color: rgba(255, 255, 255, 0.7); }
  /* line 173, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.about .sliderbox b {
    color: #FFF;
    color: white; }

/* line 180, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.randomColorEveryDay {
  background: url(img/color-fallback.jpg) !important; }
  /* line 184, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.randomColorEveryDay .sliderbox {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF; }

/* line 191, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.m-project .sliderbox {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF; }
  /* line 194, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.m-project .sliderbox .moreinfo {
    color: #FFF; }

/* line 204, D:/Michal/Programovani/theTopfer/fallback.scss */
#ribbon-wrapper #ribbon {
  background: #FFF;
  color: #151515; }
  /* line 211, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon #left a {
    color: #151515; }
  /* line 216, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon .slider {
    background-color: #ccc; }
  /* line 219, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon .slider:before {
    background-color: white; }
  /* line 223, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon input:checked + .slider {
    background-color: #4AA0C7; }
  /* line 228, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon input:focus + .slider {
    box-shadow: 0 0 1px #4AA0C7; }

@media screen and (max-width: 1366px) {
  /* line 239, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project1, section#projects .project#project3 {
    background-color: #ffffff; }
  /* line 244, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project2, section#projects .project#project4 {
    background-color: #ff9545; } }

/*# sourceMappingURL=fallback.css.map */