/* line 1, D:/Michal/Programovani/theTopfer/fallback.scss */
a {
  color: #151515; }

/* line 6, D:/Michal/Programovani/theTopfer/fallback.scss */
main {
  background: #DDDDDD; }

/* line 12, D:/Michal/Programovani/theTopfer/fallback.scss */
section h1 {
  color: #151515; }

/* line 17, D:/Michal/Programovani/theTopfer/fallback.scss */
section#projects .project {
  color: #282828; }
  /* line 21, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project h2 {
    color: #151515; }
  /* line 25, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project a {
    color: #b74e00; }
  /* line 30, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project1 {
    background-color: #ffffff; }
    /* line 34, D:/Michal/Programovani/theTopfer/fallback.scss */
    section#projects .project#project1 .project-picture {
      background-color: #ff7f20;
      color: #282828; }
  /* line 42, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project2 {
    background-color: #ff9545; }
  /* line 47, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project3 {
    background-color: #ff9545; }
  /* line 52, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project4 {
    background-color: #fdfdfd; }

/* line 63, D:/Michal/Programovani/theTopfer/fallback.scss */
section#games .game#m-project {
  background-color: #ffffff; }

/* line 72, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team h2 {
  color: #151515; }

/* line 77, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team p {
  color: #282828; }

/* line 82, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team .member {
  background: #ff9545; }

/* line 87, D:/Michal/Programovani/theTopfer/fallback.scss */
section#me #team .leader {
  background: #ffffff; }

/* line 96, D:/Michal/Programovani/theTopfer/fallback.scss */
section#contact #contactForm form input, section#contact #contactForm form textarea {
  border: 2px solid #282828; }

/* line 99, D:/Michal/Programovani/theTopfer/fallback.scss */
section#contact #contactForm form input[type=submit] {
  background: #ff7f20; }

/* line 108, D:/Michal/Programovani/theTopfer/fallback.scss */
section#contact #socialIcons ul > li span {
  color: #282828; }

/* line 118, D:/Michal/Programovani/theTopfer/fallback.scss */
nav {
  background: #ffffff; }
  /* line 123, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav #logo-small .cls-1 {
    fill: #ffa968; }
  /* line 136, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav #menu {
    background: #ffffff; }
    /* line 140, D:/Michal/Programovani/theTopfer/fallback.scss */
    nav #menu > li {
      color: #a5a5a5; }
      /* line 143, D:/Michal/Programovani/theTopfer/fallback.scss */
      nav #menu > li.currentPage {
        color: #ff7f20; }
    /* line 148, D:/Michal/Programovani/theTopfer/fallback.scss */
    nav #menu > li:hover {
      color: #9f4400; }
  /* line 156, D:/Michal/Programovani/theTopfer/fallback.scss */
  nav.fixed #logo-small:hover > .cls-1 {
    fill: #ff7f20; }

/* line 169, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.about .sliderbox {
  color: #FFF;
  color: rgba(255, 255, 255, 0.7); }
  /* line 172, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.about .sliderbox b {
    color: #FFF;
    color: white; }

/* line 179, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.randomColorEveryDay {
  background: #ff7f20; }
  /* line 182, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.randomColorEveryDay .sliderbox {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF; }

/* line 189, D:/Michal/Programovani/theTopfer/fallback.scss */
#slider #innerSlider .slideritem.m-project .sliderbox {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF; }
  /* line 192, D:/Michal/Programovani/theTopfer/fallback.scss */
  #slider #innerSlider .slideritem.m-project .sliderbox .moreinfo {
    color: #FFF; }

/* line 202, D:/Michal/Programovani/theTopfer/fallback.scss */
#ribbon-wrapper #ribbon {
  background: #FFF;
  color: #151515; }
  /* line 209, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon #left a {
    color: #151515; }
  /* line 214, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon .slider {
    background-color: #ccc; }
  /* line 217, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon .slider:before {
    background-color: white; }
  /* line 221, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon input:checked + .slider {
    background-color: #4AA0C7; }
  /* line 226, D:/Michal/Programovani/theTopfer/fallback.scss */
  #ribbon-wrapper #ribbon input:focus + .slider {
    box-shadow: 0 0 1px #4AA0C7; }

/* line 233, D:/Michal/Programovani/theTopfer/fallback.scss */
footer {
  background: #ff7f20; }

@media screen and (max-width: 1366px) {
  /* line 241, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project1, section#projects .project#project3 {
    background-color: #ffffff; }
  /* line 246, D:/Michal/Programovani/theTopfer/fallback.scss */
  section#projects .project#project2, section#projects .project#project4 {
    background-color: #ff9545; } }