/* line 1, D:/Michal/Programovani/theTopfer/main.scss */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 8, D:/Michal/Programovani/theTopfer/main.scss */
a {
  color: var(--tri2); }

/* line 12, D:/Michal/Programovani/theTopfer/main.scss */
main {
  padding-top: 80px;
  width: 100%;
  min-height: 1000px;
  position: absolute;
  top: calc(100vh - 80px);
  z-index: 4;
  background: var(--t8); }

/*#company {
top: 0px;
position: relative;
font-size: 2em;
text-align: center;
color: var(--s4);
} */
/* line 28, D:/Michal/Programovani/theTopfer/main.scss */
section {
  height: 80%;
  overflow-x: hidden; }
  /* line 32, D:/Michal/Programovani/theTopfer/main.scss */
  section h1 {
    position: relative;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: var(--s5);
    margin: 10px; }
  /* line 41, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 45, D:/Michal/Programovani/theTopfer/main.scss */
    section#projects .project {
      float: left;
      width: 50%;
      height: 300px;
      position: relative;
      transition: 0.5s; }
      /* line 52, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project:hover {
        z-index: 5;
        transform-origin: center;
        transform: translateZ(10px);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 61, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .project-picture {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        left: 25px;
        top: 25px; }
      /* line 69, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project h2 {
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 0px;
        font-size: 2.5em;
        font-weight: 700; }
      /* line 77, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project p {
        text-align: justify;
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 70px;
        font-size: 1.48em; }
      /* line 85, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .download {
        position: absolute;
        bottom: 25px;
        left: 300px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 93, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .source {
        position: absolute;
        bottom: 25px;
        left: 500px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 102, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project1 {
        background-color: var(--t3);
        color: var(--foreground-text-gray); }
        /* line 105, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project1 h2, section#projects .project#project1 a {
          color: var(--foreground-text); }
        /* line 108, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project1 .project-picture {
          width: 250px;
          background-color: var(--randomColorOfTheDay);
          color: var(--foreground-text-gray);
          text-align: center;
          line-height: 250px;
          font-size: 3em;
          font-weight: 400; }
      /* line 119, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project2 {
        background-color: var(--t1);
        color: var(--foreground-text-gray); }
        /* line 122, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project2 h2, section#projects .project#project2 a {
          color: var(--foreground-text); }
      /* line 127, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project3 {
        background-color: var(--t1);
        color: var(--foreground-text-gray); }
        /* line 130, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project3 h2, section#projects .project#project3 a {
          color: var(--foreground-text); }
      /* line 135, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project4 {
        background-color: var(--t3);
        color: var(--foreground-text-gray); }
        /* line 138, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project4 h2, section#projects .project#project4 a {
          color: var(--foreground-text); }
  /* line 147, D:/Michal/Programovani/theTopfer/main.scss */
  section#games {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 151, D:/Michal/Programovani/theTopfer/main.scss */
    section#games .game {
      float: left;
      width: 100%;
      height: 500px;
      position: relative;
      transition: 0.5s;
      font-size: 2em; }
      /* line 159, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game h2 {
        text-align: center;
        margin: 10px; }
      /* line 164, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game:hover {
        z-index: 5;
        transform-origin: center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 173, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game#m-project {
        background-color: var(--t5);
        color: var(--tri1); }
        /* line 176, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project h2, section#games .game#m-project a {
          color: var(--tri2); }
        /* line 180, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project iframe {
          float: left; }
        /* line 183, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .info {
          float: left;
          position: absolute;
          left: 900px;
          right: 0px;
          top: 0px;
          bottom: 0px; }
        /* line 193, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .play {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 50px; }
          /* line 201, D:/Michal/Programovani/theTopfer/main.scss */
          section#games .game#m-project .play img {
            width: 300px; }
        /* line 205, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .moreinfo {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 350px;
          line-height: 120px;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center; }
  /* line 221, D:/Michal/Programovani/theTopfer/main.scss */
  section#me {
    height: 1000px;
    position: relative; }
    /* line 225, D:/Michal/Programovani/theTopfer/main.scss */
    section#me #team {
      position: relative;
      top: 0px;
      height: 600px;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      perspective: 1000px; }
      /* line 235, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team h2 {
        position: relative;
        margin: 5px 10px;
        font-size: 2em;
        text-align: center;
        color: var(--foreground-text); }
      /* line 243, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team p {
        margin: 5px 20px;
        text-align: justify;
        font-size: 1.2em;
        color: var(--foreground-text-gray); }
      /* line 250, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team .member {
        background: var(--t3);
        width: 300px;
        padding: 0px 10px;
        margin: 0px 10px;
        position: relative;
        float: left;
        transition: 1s;
        transform-origin: center;
        height: 100%;
        -webkit-font-smoothing: subpixel-antialiased; }
        /* line 263, D:/Michal/Programovani/theTopfer/main.scss */
        section#me #team .member .portrait {
          position: relative;
          border-radius: 50%;
          height: 200px;
          width: 200px;
          left: 50px;
          margin-top: 25px;
          transition: 1s; }
      /* line 274, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team .leader {
        transition: 1s;
        background: var(--t1);
        width: 500px;
        z-index: 3;
        font-size: 1.3em; }
        /* line 283, D:/Michal/Programovani/theTopfer/main.scss */
        section#me #team .leader .portrait {
          width: 300px;
          height: 300px;
          left: 100px; }

/* line 294, D:/Michal/Programovani/theTopfer/main.scss */
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background: var(--t7);
  text-transform: uppercase;
  font-weight: 400;
  z-index: 5; }

/* line 306, D:/Michal/Programovani/theTopfer/main.scss */
.shadow, section#me #team .member {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

/* line 312, D:/Michal/Programovani/theTopfer/main.scss */
#logo-small {
  left: 0px;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in-out;
  height: 80px; }
  /* line 319, D:/Michal/Programovani/theTopfer/main.scss */
  #logo-small .cls-1 {
    transition: 0.5s;
    fill: var(--s2);
    fill-rule: evenodd; }

/* line 326, D:/Michal/Programovani/theTopfer/main.scss */
.fixed {
  position: fixed; }
  /* line 329, D:/Michal/Programovani/theTopfer/main.scss */
  .fixed #logo-small {
    opacity: 0.8;
    cursor: pointer; }
    /* line 333, D:/Michal/Programovani/theTopfer/main.scss */
    .fixed #logo-small:hover > .cls-1 {
      fill: var(--s5); }
  /* line 338, D:/Michal/Programovani/theTopfer/main.scss */
  .fixed #RandomColorEveryDay-ribbon {
    opacity: 1;
    width: 200px;
    height: 200px; }

/* line 347, D:/Michal/Programovani/theTopfer/main.scss */
#social {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px; }
  /* line 356, D:/Michal/Programovani/theTopfer/main.scss */
  #social .socialimg {
    height: calc(100% - 10px);
    margin: 5px; }

/* line 363, D:/Michal/Programovani/theTopfer/main.scss */
#menu {
  position: relative;
  list-style-type: none;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 320px;
  margin: 0px;
  padding: 0px;
  background: var(--t7);
  height: 60px;
  z-index: 10;
  float: left;
  display: inline-block; }
  /* line 378, D:/Michal/Programovani/theTopfer/main.scss */
  #menu > li {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 5px 1em;
    height: 50px;
    line-height: 50px;
    color: var(--s2);
    width: 250px;
    top: 0px;
    transition: 0.5s;
    background: inherit;
    float: left;
    display: block;
    font-size: 2em;
    cursor: pointer; }
  /* line 401, D:/Michal/Programovani/theTopfer/main.scss */
  #menu > li:hover {
    color: var(--s5); }

/* line 406, D:/Michal/Programovani/theTopfer/main.scss */
#slider {
  height: calc(100vh - 80px);
  position: fixed;
  width: 100%;
  overflow: hidden; }
  /* line 413, D:/Michal/Programovani/theTopfer/main.scss */
  #slider #innerSlider {
    position: absolute;
    left: 0%;
    height: 100%;
    transition: 1s;
    display: flex; }
    /* line 420, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #innerSlider .slideritem {
      position: relative;
      height: 100%;
      top: 0%;
      flex: 1; }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(1) {
        background: var(--ana1); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(2) {
        background: var(--ana2); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(3) {
        background: var(--ana3); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(4) {
        background: var(--ana4); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(5) {
        background: var(--ana5); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(6) {
        background: var(--ana6); }
      /* line 426, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(7) {
        background: var(--ana7); }
      /* line 432, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem .sliderbox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      /* line 439, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.about {
        background-image: url(img/slider/code.jpg);
        background-size: 100%; }
        /* line 442, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.about .sliderbox {
          color: #FFF;
          color: rgba(255, 255, 255, 0.7);
          opacity: 1;
          font-size: 5em;
          font-weight: 300;
          line-height: 80px;
          left: 2%;
          transform: translateX(0); }
          /* line 452, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.about .sliderbox b {
            color: #FFF;
            color: white; }
      /* line 459, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.randomColorOfTheDay {
        background: var(--randomColorOfTheDay); }
        /* line 462, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 500px;
          height: 250px;
          font-weight: 700;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 472, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox h2 {
            font-size: 1em;
            margin-bottom: 0px;
            margin-top: 1em; }
          /* line 478, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox #RCD {
            font-size: 2em; }
      /* line 484, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.m-project {
        background-image: url(img/slider/m-project-blur.png);
        background-size: 100%; }
        /* line 488, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.m-project .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 1400px;
          height: 400px;
          font-weight: 300;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 498, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox iframe {
            float: left; }
          /* line 501, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox div {
            float: left;
            position: absolute;
            left: 700px;
            right: 0px;
            top: 0px;
            bottom: 0px; }
          /* line 509, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .play {
            position: absolute;
            width: 300px;
            height: 120px;
            padding: 0px;
            bottom: 0px;
            left: 50px; }
            /* line 517, D:/Michal/Programovani/theTopfer/main.scss */
            #slider #innerSlider .slideritem.m-project .sliderbox .play img {
              width: 300px; }
          /* line 521, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .moreinfo {
            position: absolute;
            width: 300px;
            height: 120px;
            padding: 0px;
            bottom: 0px;
            left: 350px;
            line-height: 120px;
            text-transform: uppercase;
            font-weight: 700; }
  /* line 537, D:/Michal/Programovani/theTopfer/main.scss */
  #slider #cpanel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    opacity: 0.7; }
    /* line 544, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .circle, #slider #cpanel .selected {
      opacity: 0.5;
      transition: 0.5s;
      height: 20px;
      width: 20px;
      border: 8px white solid;
      border-radius: 50%;
      margin: 6px;
      float: left; }
    /* line 555, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .circle:hover {
      opacity: 1; }
    /* line 559, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .selected {
      background: white;
      position: absolute;
      opacity: 1;
      transition: 1s; }

/* line 568, D:/Michal/Programovani/theTopfer/main.scss */
#logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  margin: 10px;
  height: 300px;
  z-index: 3;
  opacity: 0.7;
  transition: 1s; }

/* line 579, D:/Michal/Programovani/theTopfer/main.scss */
#logo:hover {
  opacity: 0.9; }

/* line 582, D:/Michal/Programovani/theTopfer/main.scss */
.logoimg {
  height: 100%; }

/* line 586, D:/Michal/Programovani/theTopfer/main.scss */
#RandomColorEveryDay-ribbon {
  opacity: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 70px;
  transition: 0.5s; }
  /* line 596, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon #ribbon-text {
    background: var(--foreground-text);
    position: absolute;
    top: 180px;
    height: 70px;
    width: 500px;
    transform-origin: center;
    padding: 0px;
    margin: 0px;
    right: -100px;
    transform: rotate(-45deg);
    font-size: 1.2em; }
    /* line 608, D:/Michal/Programovani/theTopfer/main.scss */
    #RandomColorEveryDay-ribbon #ribbon-text a {
      color: var(--randomColorOfTheDay);
      position: absolute;
      left: 38px;
      bottom: 42px;
      font-size: 0.8em; }
    /* line 615, D:/Michal/Programovani/theTopfer/main.scss */
    #RandomColorEveryDay-ribbon #ribbon-text #text-1-ribbon {
      position: absolute;
      left: 280px;
      bottom: -5px;
      text-align: center; }
  /* line 623, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon:hover {
    height: 360px;
    right: -170px; }
  /* line 629, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    bottom: -20px;
    left: 120px; }
  /* line 637, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .switch input {
    display: none; }
  /* line 639, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  /* line 650, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  /* line 662, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon input:checked + .slider {
    background-color: var(--randomColorOfTheDay); }
  /* line 666, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon input:focus + .slider {
    box-shadow: 0 0 1px var(--randomColorOfTheDay); }
  /* line 670, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px); }
  /* line 676, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .slider.round {
    border-radius: 18px; }
  /* line 680, D:/Michal/Programovani/theTopfer/main.scss */
  #RandomColorEveryDay-ribbon .slider.round:before {
    border-radius: 50%; }

/*# sourceMappingURL=main.css.map */