/* line 1, D:/Michal/Programovani/thetopfer_website/main.scss */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif; }

/* line 7, D:/Michal/Programovani/thetopfer_website/main.scss */
a {
  color: var(--tri2); }

/* line 11, D:/Michal/Programovani/thetopfer_website/main.scss */
main {
  padding-top: 80px;
  width: 100%;
  min-height: 1000px;
  position: absolute;
  top: calc(100vh - 80px);
  z-index: 4;
  background: var(--t8); }

/*#company {
top: 0px;
position: relative;
font-size: 2em;
text-align: center;
color: var(--s4);
} */
/* line 27, D:/Michal/Programovani/thetopfer_website/main.scss */
section {
  height: 80%;
  overflow-x: hidden; }
  /* line 31, D:/Michal/Programovani/thetopfer_website/main.scss */
  section #portrait1 {
    position: relative;
    border-radius: 50%;
    height: 300px;
    left: 20%; }
  /* line 37, D:/Michal/Programovani/thetopfer_website/main.scss */
  section h1 {
    position: relative;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: var(--s5);
    margin: 10px; }
  /* line 46, D:/Michal/Programovani/thetopfer_website/main.scss */
  section#projects {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 50, D:/Michal/Programovani/thetopfer_website/main.scss */
    section#projects .project {
      float: left;
      width: 50%;
      height: 300px;
      position: relative;
      transition: 0.5s; }
      /* line 57, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project:hover {
        z-index: 5;
        transform-origin: center;
        transform: translateZ(10px);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 66, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project .project-picture {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        left: 25px;
        top: 25px; }
      /* line 74, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project h2 {
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 0px;
        font-size: 2.5em;
        font-weight: 700; }
      /* line 82, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project p {
        text-align: justify;
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 70px;
        font-size: 1.48em; }
      /* line 90, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project .download {
        position: absolute;
        bottom: 25px;
        left: 300px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 98, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project .source {
        position: absolute;
        bottom: 25px;
        left: 500px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 107, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project#project1 {
        background-color: var(--t5);
        color: var(--tri1); }
        /* line 110, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#projects .project#project1 h2, section#projects .project#project1 a {
          color: var(--tri2); }
        /* line 113, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#projects .project#project1 .project-picture {
          width: 250px;
          background-color: var(--randomColorOfTheDay);
          color: var(--foreground-text-gray);
          text-align: center;
          line-height: 250px;
          font-size: 3em;
          font-weight: 400; }
      /* line 124, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project#project2 {
        background-color: var(--t3);
        color: var(--tri5); }
        /* line 127, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#projects .project#project2 h2, section#projects .project#project2 a {
          color: var(--tri6); }
      /* line 132, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project#project3 {
        background-color: var(--t3);
        color: var(--tri5); }
        /* line 135, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#projects .project#project3 h2, section#projects .project#project3 a {
          color: var(--tri6); }
      /* line 140, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#projects .project#project4 {
        background-color: var(--t5);
        color: var(--tri1); }
        /* line 143, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#projects .project#project4 h2, section#projects .project#project4 a {
          color: var(--tri2); }
  /* line 152, D:/Michal/Programovani/thetopfer_website/main.scss */
  section#games {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 156, D:/Michal/Programovani/thetopfer_website/main.scss */
    section#games .game {
      float: left;
      width: 100%;
      height: 500px;
      position: relative;
      transition: 0.5s;
      font-size: 2em; }
      /* line 164, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#games .game h2 {
        text-align: center;
        margin: 10px; }
      /* line 169, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#games .game:hover {
        z-index: 5;
        transform-origin: center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 178, D:/Michal/Programovani/thetopfer_website/main.scss */
      section#games .game#m-project {
        background-color: var(--t5);
        color: var(--tri1); }
        /* line 181, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#games .game#m-project h2, section#games .game#m-project a {
          color: var(--tri2); }
        /* line 185, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#games .game#m-project iframe {
          float: left; }
        /* line 188, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#games .game#m-project .info {
          float: left;
          position: absolute;
          left: 900px;
          right: 0px;
          top: 0px;
          bottom: 0px; }
        /* line 198, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#games .game#m-project .play {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 50px; }
          /* line 206, D:/Michal/Programovani/thetopfer_website/main.scss */
          section#games .game#m-project .play img {
            width: 300px; }
        /* line 210, D:/Michal/Programovani/thetopfer_website/main.scss */
        section#games .game#m-project .moreinfo {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 350px;
          line-height: 120px;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center; }

/* line 227, D:/Michal/Programovani/thetopfer_website/main.scss */
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background: var(--t7);
  text-transform: uppercase;
  font-weight: 400;
  z-index: 5; }

/* line 239, D:/Michal/Programovani/thetopfer_website/main.scss */
.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

/* line 245, D:/Michal/Programovani/thetopfer_website/main.scss */
#logo-small {
  left: 0px;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in-out;
  height: 80px; }
  /* line 252, D:/Michal/Programovani/thetopfer_website/main.scss */
  #logo-small .cls-1 {
    transition: 0.5s;
    fill: var(--s2);
    fill-rule: evenodd; }

/* line 258, D:/Michal/Programovani/thetopfer_website/main.scss */
.fixed {
  position: fixed; }
  /* line 261, D:/Michal/Programovani/thetopfer_website/main.scss */
  .fixed #logo-small {
    opacity: 0.8;
    cursor: pointer; }
    /* line 265, D:/Michal/Programovani/thetopfer_website/main.scss */
    .fixed #logo-small:hover > .cls-1 {
      fill: var(--s5); }

/* line 273, D:/Michal/Programovani/thetopfer_website/main.scss */
#social {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px; }
  /* line 282, D:/Michal/Programovani/thetopfer_website/main.scss */
  #social .socialimg {
    height: calc(100% - 10px);
    margin: 5px; }

/* line 289, D:/Michal/Programovani/thetopfer_website/main.scss */
#menu {
  position: relative;
  list-style-type: none;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 320px;
  margin: 0px;
  padding: 0px;
  background: var(--t7);
  height: 60px;
  z-index: 10;
  float: left;
  display: inline-block; }
  /* line 304, D:/Michal/Programovani/thetopfer_website/main.scss */
  #menu > li {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 5px 1em;
    height: 50px;
    line-height: 50px;
    color: var(--s2);
    width: 250px;
    top: 0px;
    transition: 0.5s;
    background: inherit;
    float: left;
    display: block;
    font-size: 2em;
    cursor: pointer; }
  /* line 327, D:/Michal/Programovani/thetopfer_website/main.scss */
  #menu > li:hover {
    color: var(--s5); }

/* line 332, D:/Michal/Programovani/thetopfer_website/main.scss */
#slider {
  height: calc(100vh - 80px);
  position: fixed;
  width: 100%;
  overflow: hidden; }
  /* line 339, D:/Michal/Programovani/thetopfer_website/main.scss */
  #slider #innerSlider {
    position: absolute;
    left: 0%;
    height: 100%;
    transition: 1s;
    display: flex; }
    /* line 346, D:/Michal/Programovani/thetopfer_website/main.scss */
    #slider #innerSlider .slideritem {
      position: relative;
      height: 100%;
      top: 0%;
      flex: 1; }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(1) {
        background: var(--ana1); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(2) {
        background: var(--ana2); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(3) {
        background: var(--ana3); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(4) {
        background: var(--ana4); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(5) {
        background: var(--ana5); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(6) {
        background: var(--ana6); }
      /* line 352, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem:nth-child(7) {
        background: var(--ana7); }
      /* line 358, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem .sliderbox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      /* line 365, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem.about {
        background-image: url(img/slider/code.jpg);
        background-size: 100%; }
        /* line 368, D:/Michal/Programovani/thetopfer_website/main.scss */
        #slider #innerSlider .slideritem.about .sliderbox {
          color: #FFF;
          color: rgba(255, 255, 255, 0.7);
          opacity: 1;
          font-size: 5em;
          font-weight: 300;
          line-height: 80px;
          left: 2%;
          transform: translateX(0); }
          /* line 378, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.about .sliderbox b {
            color: #FFF;
            color: white; }
      /* line 385, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem.randomColorOfTheDay {
        background: var(--randomColorOfTheDay); }
        /* line 388, D:/Michal/Programovani/thetopfer_website/main.scss */
        #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 500px;
          height: 250px;
          font-weight: 700;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 398, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox h2 {
            font-size: 1em;
            margin-bottom: 0px;
            margin-top: 1em; }
          /* line 404, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox #RCD {
            font-size: 2em; }
      /* line 410, D:/Michal/Programovani/thetopfer_website/main.scss */
      #slider #innerSlider .slideritem.m-project {
        background-image: url(img/slider/m-project-blur.png);
        background-size: 100%; }
        /* line 414, D:/Michal/Programovani/thetopfer_website/main.scss */
        #slider #innerSlider .slideritem.m-project .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 1400px;
          height: 400px;
          font-weight: 300;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 424, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox iframe {
            float: left; }
          /* line 427, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox div {
            float: left;
            position: absolute;
            left: 700px;
            right: 0px;
            top: 0px;
            bottom: 0px; }
          /* line 435, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .play {
            position: absolute;
            width: 300px;
            height: 120px;
            padding: 0px;
            bottom: 0px;
            left: 50px; }
            /* line 443, D:/Michal/Programovani/thetopfer_website/main.scss */
            #slider #innerSlider .slideritem.m-project .sliderbox .play img {
              width: 300px; }
          /* line 447, D:/Michal/Programovani/thetopfer_website/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .moreinfo {
            position: absolute;
            width: 300px;
            height: 120px;
            padding: 0px;
            bottom: 0px;
            left: 350px;
            line-height: 120px;
            text-transform: uppercase;
            font-weight: 700; }
  /* line 463, D:/Michal/Programovani/thetopfer_website/main.scss */
  #slider #cpanel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    opacity: 0.7; }
    /* line 470, D:/Michal/Programovani/thetopfer_website/main.scss */
    #slider #cpanel .circle, #slider #cpanel .selected {
      opacity: 0.5;
      transition: 0.5s;
      height: 20px;
      width: 20px;
      border: 8px white solid;
      border-radius: 50%;
      margin: 6px;
      float: left; }
    /* line 481, D:/Michal/Programovani/thetopfer_website/main.scss */
    #slider #cpanel .circle:hover {
      opacity: 1; }
    /* line 485, D:/Michal/Programovani/thetopfer_website/main.scss */
    #slider #cpanel .selected {
      background: white;
      position: absolute;
      opacity: 1;
      transition: 1s; }

/* line 494, D:/Michal/Programovani/thetopfer_website/main.scss */
#logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  margin: 10px;
  height: 300px;
  z-index: 3;
  opacity: 0.7;
  transition: 1s; }

/* line 505, D:/Michal/Programovani/thetopfer_website/main.scss */
#logo:hover {
  opacity: 0.9; }

/* line 508, D:/Michal/Programovani/thetopfer_website/main.scss */
.logoimg {
  height: 100%; }

/*# sourceMappingURL=main.css.map */