html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: var(--tri2);
}

main {
    width: 100%;
    min-height: 1000px;
    position: absolute;
    top: calc(100vh - 60px);
    z-index: 4;
    background: var(--t8);
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background: var(--s4);
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 5;
}

.fixed {
    position: fixed;
}

#logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    margin: 10px;
    height: 300px;
    z-index: 3;
    opacity: 0.5;
    transition: 1s;
}
#logo:hover {
    opacity: 0.9;
}
.logoimg {
    height: 100%;
}

#social {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    
    .socialimg {
        height: calc(100% - 10px);
        margin: 5px;
    }
}


#menu {
    position: relative;
    list-style-type: none; 
    top: 0;
    left: 0px;
    right: 320px;
    margin: 0px;
    padding: 0px;
    background: var(--s4);
    height: 60px;
    z-index: 10;
    float: left;
    display: inline-block;

    > li {
        position: relative;
        margin: 0px;
        padding: 5px 20px;
        height: 50px;
        line-height: 50px;
        //width: 180px;
        min-width: 100px;
        top: 0px;
        transition: 0.5s;
        background: inherit;
        float: left;
        display: block;
        font-size: 1.7em;
        cursor: pointer;
        
        .currentPage {
            
        }
    }

    > li:hover {
        background: var(--s1);
    }
}

#slider {
    //height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    position: fixed;
    width: 100%;
    overflow: hidden;
    
    #innerSlider {
        position: absolute;
        left: 0%;
        height: 100%;
        transition: 1s;
        display: flex;
            
        .slideritem {
            position: relative;
            height: 100%;
            top: 0%;
            flex: 1;

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {  
                    background: var(--ana + $i);        
                }
            }
            
            .sliderbox {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        
          &.randomColorOfTheDay {
              background: var(--randomColorOfTheDay);
              
              .sliderbox {
                  background: rgba(0, 0, 0, 0.5);
                  color: #FFF;
                  width: 500px;
                  height: 250px;
                  font-weight: 700;
                  text-align: center;
                  font-size: 2em;
                  margin-top: 5%;
                  
                  h2 {
                    font-size: 1em;
                      margin-bottom: 0px;
                      margin-top: 1em;
                  }
                  
                  #RCD {
                      font-size: 2em;
                  }
              }
          }
        }
    }
    
    #cpanel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8px;
        opacity: 0.5;
        
        .circle, .selected {
            opacity: 0.3;
            transition: 0.5s;
            height: 20px;
            width: 20px;
            border: 8px white solid;
            border-radius: 50%;
            margin: 6px;
            float: left;
        }
        
        .circle:hover {
            opacity: 1;
        }
        
        .selected{
                background: white;
                position: absolute;
                opacity: 1;
                transition: 1s;
        }
    }
}

