/* line 1, D:/Michal/Programovani/theTopfer/main.scss */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 8, D:/Michal/Programovani/theTopfer/main.scss */
a {
  color: #000;
  color: var(--foreground-text); }

/* line 13, D:/Michal/Programovani/theTopfer/main.scss */
main {
  padding-top: 80px;
  width: 100%;
  min-height: 1000px;
  position: absolute;
  top: calc(100vh - 80px);
  z-index: 4;
  background: #DAECF3;
  background: var(--t8); }

/* line 24, D:/Michal/Programovani/theTopfer/main.scss */
section {
  height: 80%;
  overflow-x: hidden; }
  /* line 28, D:/Michal/Programovani/theTopfer/main.scss */
  section h1 {
    position: relative;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #255063;
    color: var(--s5);
    margin: 10px; }
  /* line 38, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 42, D:/Michal/Programovani/theTopfer/main.scss */
    section#projects .project {
      float: left;
      width: 50%;
      height: 300px;
      position: relative;
      transition: 0.5s;
      color: #282828;
      color: var(--foreground-text-gray); }
      /* line 51, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project:hover {
        z-index: 5;
        transform-origin: center;
        transform: translateZ(10px);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 60, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .project-picture {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        left: 25px;
        top: 25px; }
      /* line 68, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project h2 {
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 0px;
        font-size: 2.5em;
        font-weight: 700;
        color: #000;
        color: var(--foreground-text); }
      /* line 78, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project a {
        color: #000;
        color: var(--foreground-text); }
      /* line 82, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project p {
        text-align: justify;
        margin-left: 300px;
        margin-right: 25px;
        position: absolute;
        top: 70px;
        font-size: 1.48em; }
      /* line 90, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .download {
        position: absolute;
        bottom: 25px;
        left: 300px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 98, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project .source {
        position: absolute;
        bottom: 25px;
        left: 500px;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
      /* line 107, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project1 {
        background-color: #80BCD7;
        background-color: var(--t3); }
        /* line 111, D:/Michal/Programovani/theTopfer/main.scss */
        section#projects .project#project1 .project-picture {
          width: 250px;
          background-color: #4AA0C7;
          background-color: var(--randomColorOfTheDay);
          color: #282828;
          color: var(--foreground-text-gray);
          text-align: center;
          line-height: 250px;
          font-size: 3em;
          font-weight: 400; }
      /* line 124, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project2 {
        background-color: #5CA9CC;
        background-color: var(--t1); }
      /* line 129, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project3 {
        background-color: #5CA9CC;
        background-color: var(--t1); }
      /* line 134, D:/Michal/Programovani/theTopfer/main.scss */
      section#projects .project#project4 {
        background-color: #80BCD7;
        background-color: var(--t3); }
  /* line 143, D:/Michal/Programovani/theTopfer/main.scss */
  section#games {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 147, D:/Michal/Programovani/theTopfer/main.scss */
    section#games .game {
      float: left;
      width: 100%;
      height: 500px;
      position: relative;
      transition: 0.5s;
      font-size: 2em; }
      /* line 155, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game h2 {
        text-align: center;
        margin: 10px; }
      /* line 160, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game:hover {
        z-index: 5;
        transform-origin: center;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
      /* line 169, D:/Michal/Programovani/theTopfer/main.scss */
      section#games .game#m-project {
        background-color: #A4CFE3;
        background-color: var(--t5);
        /*color: var(--tri1);
                h2, a {
                    color: var(--tri2);
                }*/ }
        /* line 178, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project iframe {
          float: left; }
        /* line 181, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .info {
          float: left;
          position: absolute;
          left: 900px;
          right: 0px;
          top: 0px;
          bottom: 0px; }
        /* line 191, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .play {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 50px; }
          /* line 199, D:/Michal/Programovani/theTopfer/main.scss */
          section#games .game#m-project .play img {
            width: 300px; }
        /* line 203, D:/Michal/Programovani/theTopfer/main.scss */
        section#games .game#m-project .moreinfo {
          position: absolute;
          width: 300px;
          height: 120px;
          padding: 0px;
          bottom: 0px;
          left: 350px;
          line-height: 120px;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center; }
  /* line 219, D:/Michal/Programovani/theTopfer/main.scss */
  section#me {
    height: 1000px;
    position: relative; }
    /* line 223, D:/Michal/Programovani/theTopfer/main.scss */
    section#me #team {
      position: relative;
      top: 0px;
      height: 600px;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      perspective: 1000px; }
      /* line 233, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team h2 {
        position: relative;
        margin: 5px 10px;
        font-size: 2em;
        text-align: center;
        color: #000;
        color: var(--foreground-text); }
      /* line 242, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team p {
        margin: 5px 20px;
        text-align: justify;
        font-size: 1.2em;
        color: #282828;
        color: var(--foreground-text-gray); }
      /* line 250, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team .member {
        background: #80BCD7;
        background: var(--t3);
        width: 300px;
        padding: 0px 10px;
        margin: 0px 10px;
        position: relative;
        float: left;
        transition: 1s;
        transform-origin: center;
        height: 100%;
        -webkit-font-smoothing: subpixel-antialiased; }
        /* line 264, D:/Michal/Programovani/theTopfer/main.scss */
        section#me #team .member .portrait {
          position: relative;
          border-radius: 50%;
          height: 200px;
          width: 200px;
          left: 50px;
          margin-top: 25px;
          transition: 1s; }
      /* line 275, D:/Michal/Programovani/theTopfer/main.scss */
      section#me #team .leader {
        transition: 1s;
        background: #5CA9CC;
        background: var(--t1);
        width: 500px;
        z-index: 3;
        font-size: 1.3em; }
        /* line 285, D:/Michal/Programovani/theTopfer/main.scss */
        section#me #team .leader .portrait {
          width: 300px;
          height: 300px;
          left: 100px; }

/* line 296, D:/Michal/Programovani/theTopfer/main.scss */
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background: #C8E2EE;
  background: var(--t7);
  text-transform: uppercase;
  font-weight: 400;
  z-index: 5; }

/* line 309, D:/Michal/Programovani/theTopfer/main.scss */
.shadow, section#me #team .member, #ribbon-wrapper #ribbon {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

/* line 315, D:/Michal/Programovani/theTopfer/main.scss */
#logo-small {
  left: 0px;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in-out;
  height: 80px; }
  /* line 322, D:/Michal/Programovani/theTopfer/main.scss */
  #logo-small .cls-1 {
    transition: 0.5s;
    fill: #3B809F;
    fill: var(--s2);
    fill-rule: evenodd; }

/* line 330, D:/Michal/Programovani/theTopfer/main.scss */
.fixed {
  position: fixed; }
  /* line 333, D:/Michal/Programovani/theTopfer/main.scss */
  .fixed #logo-small {
    opacity: 0.8;
    cursor: pointer; }
    /* line 337, D:/Michal/Programovani/theTopfer/main.scss */
    .fixed #logo-small:hover > .cls-1 {
      fill: #255063;
      fill: var(--s5); }
  /* line 343, D:/Michal/Programovani/theTopfer/main.scss */
  .fixed #ribbon-wrapper {
    opacity: 1;
    width: 250px;
    height: 250px; }

/* line 352, D:/Michal/Programovani/theTopfer/main.scss */
#social {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px; }
  /* line 361, D:/Michal/Programovani/theTopfer/main.scss */
  #social .socialimg {
    height: calc(100% - 10px);
    margin: 5px; }

/* line 368, D:/Michal/Programovani/theTopfer/main.scss */
#menu {
  position: relative;
  list-style-type: none;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  right: 320px;
  margin: 0px;
  padding: 0px;
  background: #C8E2EE;
  background: var(--t7);
  height: 80px;
  z-index: 10;
  float: left;
  display: inline-block; }
  /* line 384, D:/Michal/Programovani/theTopfer/main.scss */
  #menu > li {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 5px 1em;
    height: 70px;
    line-height: 70px;
    color: #3B809F;
    color: var(--s2);
    width: 250px;
    top: 0px;
    transition: 0.5s;
    background: inherit;
    float: left;
    display: block;
    font-size: 2em;
    cursor: pointer; }
  /* line 408, D:/Michal/Programovani/theTopfer/main.scss */
  #menu > li:hover {
    color: #16303B;
    color: var(--s7); }

/* line 414, D:/Michal/Programovani/theTopfer/main.scss */
#slider {
  height: calc(100vh - 80px);
  position: fixed;
  width: 100%;
  overflow: hidden; }
  /* line 421, D:/Michal/Programovani/theTopfer/main.scss */
  #slider #innerSlider {
    position: absolute;
    left: 0%;
    height: 100%;
    transition: 1s;
    display: flex; }
    /* line 428, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #innerSlider .slideritem {
      position: relative;
      height: 100%;
      top: 0%;
      flex: 1; }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(1) {
        background: #4AA0C7;
        background: var(--ana1); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(2) {
        background: #4AA0C7;
        background: var(--ana2); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(3) {
        background: #4AA0C7;
        background: var(--ana3); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(4) {
        background: #4AA0C7;
        background: var(--ana4); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(5) {
        background: #4AA0C7;
        background: var(--ana5); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(6) {
        background: #4AA0C7;
        background: var(--ana6); }
      /* line 434, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem:nth-child(7) {
        background: #4AA0C7;
        background: var(--ana7); }
      /* line 441, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem .sliderbox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      /* line 448, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.about {
        background-image: url(img/slider/code.jpg);
        background-size: 100%;
        background-repeat: no-repeat; }
        /* line 453, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.about .sliderbox {
          color: #FFF;
          color: rgba(255, 255, 255, 0.7);
          opacity: 1;
          font-size: 5em;
          font-weight: 300;
          line-height: 80px;
          left: 2%;
          transform: none; }
          /* line 463, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.about .sliderbox b {
            color: #FFF;
            color: white; }
      /* line 470, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.randomColorOfTheDay {
        background: #4AA0C7;
        background: var(--randomColorOfTheDay); }
        /* line 474, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 500px;
          height: 250px;
          font-weight: 700;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 484, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox h2 {
            font-size: 1em;
            margin-bottom: 0px;
            margin-top: 1em; }
          /* line 490, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox #RCD {
            font-size: 2em; }
          /* line 494, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.randomColorOfTheDay .sliderbox a {
            color: inherit; }
      /* line 500, D:/Michal/Programovani/theTopfer/main.scss */
      #slider #innerSlider .slideritem.m-project {
        background-image: url(img/slider/m-project-blur.png);
        background-size: 100%; }
        /* line 504, D:/Michal/Programovani/theTopfer/main.scss */
        #slider #innerSlider .slideritem.m-project .sliderbox {
          background: rgba(0, 0, 0, 0.5);
          color: #FFF;
          width: 1200px;
          height: 400px;
          font-weight: 300;
          text-align: center;
          font-size: 2em;
          margin-top: 5%; }
          /* line 514, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox iframe {
            float: left; }
          /* line 517, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox div {
            float: left;
            position: absolute;
            left: 700px;
            right: 0px;
            top: 0px;
            bottom: 0px; }
          /* line 525, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .play {
            position: absolute;
            width: 250px;
            height: 100px;
            padding: 0px;
            bottom: 0px;
            left: 0px; }
            /* line 533, D:/Michal/Programovani/theTopfer/main.scss */
            #slider #innerSlider .slideritem.m-project .sliderbox .play img {
              width: 250px; }
          /* line 537, D:/Michal/Programovani/theTopfer/main.scss */
          #slider #innerSlider .slideritem.m-project .sliderbox .moreinfo {
            color: #FFF;
            position: absolute;
            width: 250px;
            height: 100px;
            padding: 0px;
            bottom: 0px;
            left: 250px;
            line-height: 100px;
            text-transform: uppercase;
            font-weight: 700; }
  /* line 554, D:/Michal/Programovani/theTopfer/main.scss */
  #slider #cpanel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    opacity: 0.7; }
    /* line 561, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .circle, #slider #cpanel .selected {
      opacity: 0.5;
      transition: 0.5s;
      height: 20px;
      width: 20px;
      border: 8px white solid;
      border-radius: 50%;
      margin: 6px;
      float: left; }
    /* line 572, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .circle:hover {
      opacity: 1; }
    /* line 576, D:/Michal/Programovani/theTopfer/main.scss */
    #slider #cpanel .selected {
      background: white;
      position: absolute;
      opacity: 1;
      transition: 1s; }

/* line 585, D:/Michal/Programovani/theTopfer/main.scss */
#logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  margin: 10px;
  height: 300px;
  z-index: 3;
  opacity: 0.7;
  transition: 1s; }

/* line 596, D:/Michal/Programovani/theTopfer/main.scss */
#logo:hover {
  opacity: 0.9; }

/* line 599, D:/Michal/Programovani/theTopfer/main.scss */
.logoimg {
  height: 100%; }

/* line 603, D:/Michal/Programovani/theTopfer/main.scss */
#ribbon-wrapper {
  pointer-events: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.5s; }
  /* line 614, D:/Michal/Programovani/theTopfer/main.scss */
  #ribbon-wrapper #ribbon-rotate {
    position: absolute;
    width: 600px;
    height: 70px;
    left: -325px;
    top: 30px;
    transform: rotate(-45deg);
    transform-origin: right; }
  /* line 624, D:/Michal/Programovani/theTopfer/main.scss */
  #ribbon-wrapper #ribbon {
    pointer-events: all;
    background: #000;
    background: var(--foreground-text);
    color: #4AA0C7;
    color: var(--randomColorOfTheDay);
    position: absolute;
    top: 0px;
    height: 70px;
    width: 600px;
    padding: 0px;
    margin: 0px;
    left: 0px;
    transition: 0.5s;
    font-size: 1.3em;
    font-weight: 300; }
    /* line 643, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon #left {
      position: absolute;
      left: 0px;
      right: 300px;
      height: 100%; }
      /* line 649, D:/Michal/Programovani/theTopfer/main.scss */
      #ribbon-wrapper #ribbon #left a {
        color: #4AA0C7;
        color: var(--randomColorOfTheDay);
        position: absolute;
        bottom: 40px;
        text-align: center;
        width: 100%;
        font-size: 0.9em; }
    /* line 659, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon #right {
      position: absolute;
      left: 300px;
      right: 0px;
      height: 50px;
      padding: 10px 0px;
      top: 0px;
      text-align: center; }
    /* line 669, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon:hover {
      left: 300px; }
    /* line 674, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .switch {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 20px;
      bottom: -20px;
      left: 120px; }
    /* line 682, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .switch input {
      display: none; }
    /* line 684, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s; }
    /* line 695, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    /* line 707, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon input:checked + .slider {
      background-color: #4AA0C7;
      background-color: var(--randomColorOfTheDay); }
    /* line 712, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon input:focus + .slider {
      box-shadow: 0 0 1px #4AA0C7;
      box-shadow: 0 0 1px var(--randomColorOfTheDay); }
    /* line 717, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon input:checked + .slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px); }
    /* line 723, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .slider.round {
      border-radius: 18px; }
    /* line 727, D:/Michal/Programovani/theTopfer/main.scss */
    #ribbon-wrapper #ribbon .slider.round:before {
      border-radius: 50%; }

@media screen and (max-width: 1600px) {
  /* line 736, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects .project h2 {
    font-size: 1.9em; }
  /* line 739, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects .project p {
    top: 52px;
    font-size: 1.2em; }
  /* line 743, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects .project .download {
    font-size: 1.4em; }
  /* line 746, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects .project .source {
    left: 450px;
    font-size: 1.4em; }
  /* line 754, D:/Michal/Programovani/theTopfer/main.scss */
  section#me #team .member {
    width: 250px;
    padding: 0px 10px; }
    /* line 758, D:/Michal/Programovani/theTopfer/main.scss */
    section#me #team .member .portrait {
      height: 150px;
      width: 150px;
      left: 50px; }
  /* line 765, D:/Michal/Programovani/theTopfer/main.scss */
  section#me #team .leader {
    width: 400px; }
    /* line 768, D:/Michal/Programovani/theTopfer/main.scss */
    section#me #team .leader .portrait {
      width: 200px;
      height: 200px;
      left: 100px; } }

@media screen and (max-width: 1366px) {
  /* line 779, D:/Michal/Programovani/theTopfer/main.scss */
  section#projects {
    perspective: 1000px;
    padding-bottom: 20px; }
    /* line 783, D:/Michal/Programovani/theTopfer/main.scss */
    section#projects .project {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */