html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--tri2);
}

main {
    padding-top: 80px;
    width: 100%;
    min-height: 1000px;
    position: absolute;
    top: calc(100vh - 80px);
    z-index: 4;
    background: var(--t8);
}
/*#company {
top: 0px;
position: relative;
font-size: 2em;
text-align: center;
color: var(--s4);
} */
section {
    height: 80%;
    overflow-x: hidden;

    h1 {
        position: relative;
        text-align: center;
        font-size: 5em;
        text-transform: uppercase;
        color: var(--s5);
        margin: 10px;
        
    }
    &#projects {
        perspective: 1000px;
        padding-bottom: 20px;
        
        .project {
            float: left;
            width: 50%;
            height: 300px;
            position: relative;
            transition: 0.5s;
            
            &:hover {
                z-index: 5;
                transform-origin: center;
                transform: translateZ(10px);
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            }
            
            .project-picture {
                border-radius: 50%;
                height: 250px;
                width: 250px;
                position: relative;
                left: 25px;
                top: 25px;
            }
            h2 {
                margin-left: 300px;
                margin-right: 25px;
                position: absolute;
                top: 0px;
                font-size: 2.5em;
                font-weight: 700;
            }
            p {
                text-align: justify;
                margin-left: 300px;
                margin-right: 25px;
                position: absolute;
                top: 70px;
                font-size: 1.48em;   
            }
            .download {
                position: absolute;
                bottom: 25px;
                left: 300px;
                font-size: 1.5em;
                font-weight: 700;
                text-transform: uppercase;
            }
            .source {
                position: absolute;
                bottom: 25px;
                left: 500px;
                font-size: 1.5em;
                font-weight: 700;
                text-transform: uppercase;
            }
            
            &#project1{
                background-color: var(--t3);
                color: var(--foreground-text-gray);
                h2, a {
                    color: var(--foreground-text);
                }
                .project-picture {
                    width: 250px;
                    background-color: var(--randomColorOfTheDay);
                    color: var(--foreground-text-gray);
                    text-align: center;
                    line-height: 250px;
                    font-size: 3em;
                    font-weight: 400;
                }
            }
            
            &#project2{
                background-color: var(--t1);
                color: var(--foreground-text-gray);
                h2, a {
                    color: var(--foreground-text);
                }                
            }
            
            &#project3{
                background-color: var(--t1);
                color: var(--foreground-text-gray);
                h2, a {
                    color: var(--foreground-text);
                }
            }
            
            &#project4{
                background-color: var(--t3);
                color: var(--foreground-text-gray);
                 h2, a {
                     color: var(--foreground-text);
                 }
            }
        }
        
        
    }
    
    &#games {
        perspective: 1000px;
        padding-bottom: 20px;
        
        .game {
            float: left;
            width: 100%;
            height: 500px;
            position: relative;
            transition: 0.5s;
            font-size: 2em;
            
            h2 {
                text-align: center;
                margin: 10px;
            }

            &:hover {
                z-index: 5;
                transform-origin: center;
                //transform: translateZ(10px);
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            }
            
            &#m-project {
                background-color: var(--t5);
                color: var(--tri1);
                h2, a {
                    color: var(--tri2);
                }
                
                iframe {
                    float: left;
                }
                .info {
                    float: left;
                    position: absolute;
                    left: 900px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    
                   
                }
                .play {
                    position: absolute;
                    width: 300px;
                    height: 120px;
                    padding: 0px;
                    bottom: 0px;
                    left: 50px;

                    img {
                        width: 300px;
                    }
                }
                .moreinfo {
                    position: absolute;
                    width: 300px;
                    height: 120px;
                    padding: 0px;
                    bottom: 0px;
                    left: 350px;
                    line-height: 120px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }
    
    &#me {
        height: 1000px;
        position: relative;
        
        #team {
            position: relative;
            top: 0px;
            height: 600px;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            perspective: 1000px;
            
            h2 {
                position: relative;
                margin: 5px 10px;
                font-size: 2em;
                text-align: center;
                color: var(--foreground-text);
            }

            p {
                margin: 5px 20px;
                text-align: justify;
                font-size: 1.2em;
                color: var(--foreground-text-gray);
            }

            .member {
                background: var(--t3);
                width: 300px;
                padding: 0px 10px;
                margin: 0px 10px;
                position: relative;
                float: left;
                transition: 1s;
                transform-origin: center;
                height: 100%;
                @extend .shadow;
                -webkit-font-smoothing: subpixel-antialiased;
                
                .portrait {
                    position: relative;
                    border-radius: 50%;
                    height: 200px;
                    width: 200px;
                    left: 50px;
                    margin-top: 25px;
                    transition: 1s;
                }
            }
            
            .leader {
                transition: 1s;
                background: var(--t1);
                //transform: translateZ(30px);
                //transform: scale(1.1,1.1);
                width: 500px;
                z-index: 3;
                font-size: 1.3em;
                
                .portrait {
                    width: 300px;
                    height: 300px;
                    left: 100px;
                }
            }
        }       
        
    }
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: var(--t7);
    text-transform: uppercase;
    font-weight: 400;
    z-index: 5;
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#logo-small {
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease-in-out;
    height: 80px;

    .cls-1 {
        transition: 0.5s;
        fill: var(--s2);
        fill-rule: evenodd;
    }    
}

.fixed {
    position: fixed;

    #logo-small {
        opacity: 0.8;
        cursor: pointer;

        &:hover > .cls-1 {
            fill: var(--s5);
        }
    }
    
    #ribbon-wrapper {
        opacity: 1;
        width: 250px;
        height: 250px;
    }
}



#social {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;

    .socialimg {
        height: calc(100% - 10px);
        margin: 5px;
    }
}


#menu {
    position: relative;
    list-style-type: none; 
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
    right: 320px;
    margin: 0px;
    padding: 0px;
    background: var(--t7);
    height: 80px;
    z-index: 10;
    float: left;
    display: inline-block;

    > li {
        position: relative;
        text-align: center;
        margin: 0px;
        padding: 5px 1em;
        height: 70px;
        line-height: 70px;
        //width: 180px;
        color: var(--s2);
        width: 250px;
        top: 0px;
        transition: 0.5s;
        background: inherit;
        float: left;
        display: block;
        font-size: 2em;
        cursor: pointer;

        .currentPage {

        }
    }

    > li:hover {
        color: var(--s7);
    }
}

#slider {
    //height: calc(100vh - 60px);
    height: calc(100vh - 80px);
    position: fixed;
    width: 100%;
    overflow: hidden;

    #innerSlider {
        position: absolute;
        left: 0%;
        height: 100%;
        transition: 1s;
        display: flex;

        .slideritem {
            position: relative;
            height: 100%;
            top: 0%;
            flex: 1;

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {  
                    background: var(--ana + $i);        
                }
            }

            .sliderbox {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            &.about{
                background-image: url(img/slider/code.jpg);
                background-size: 100%;
                .sliderbox {
                    color: #FFF;
                    color: rgba(255, 255, 255, 0.7);
                    opacity: 1;
                    font-size: 5em;
                    font-weight: 300;
                    line-height: 80px;
                    left: 2%;
                    transform: translateX(0);
                    
                    b {
                        color: #FFF;
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
            
            &.randomColorOfTheDay {
                background: var(--randomColorOfTheDay);

                .sliderbox {
                    background: rgba(0, 0, 0, 0.5);
                    color: #FFF;
                    width: 500px;
                    height: 250px;
                    font-weight: 700;
                    text-align: center;
                    font-size: 2em;
                    margin-top: 5%;

                    h2 {
                        font-size: 1em;
                        margin-bottom: 0px;
                        margin-top: 1em;
                    }

                    #RCD {
                        font-size: 2em;
                    }
                }
            }
            
            &.m-project {
                background-image: url(img/slider/m-project-blur.png);
                background-size: 100%;

                .sliderbox {
                    background: rgba(0, 0, 0, 0.5);
                    color: #FFF;
                    width: 1400px;
                    height: 400px;
                    font-weight: 300;
                    text-align: center;
                    font-size: 2em;
                    margin-top: 5%;
                    
                    iframe {
                        float: left;
                    }
                    div {
                        float: left;
                        position: absolute;
                        left: 700px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                    }
                    .play {
                        position: absolute;
                        width: 300px;
                        height: 120px;
                        padding: 0px;
                        bottom: 0px;
                        left: 50px;
                        
                        img {
                            width: 300px;
                        }
                    }
                    .moreinfo {
                        position: absolute;
                        width: 300px;
                        height: 120px;
                        padding: 0px;
                        bottom: 0px;
                        left: 350px;
                        line-height: 120px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    #cpanel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8px;
        opacity: 0.7;

        .circle, .selected {
            opacity: 0.5;
            transition: 0.5s;
            height: 20px;
            width: 20px;
            border: 8px white solid;
            border-radius: 50%;
            margin: 6px;
            float: left;
        }

        .circle:hover {
            opacity: 1;
        }

        .selected{
            background: white;
            position: absolute;
            opacity: 1;
            transition: 1s;
        }
    }
}

#logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    margin: 10px;
    height: 300px;
    z-index: 3;
    opacity: 0.7;
    transition: 1s;
}
#logo:hover {
    opacity: 0.9;
}
.logoimg {
    height: 100%;
}

#ribbon-wrapper {
    pointer-events: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    
    #ribbon-rotate {
        position: absolute;
        width: 600px;
        height: 70px;
        left: -325px;
        top: 30px;
        transform: rotate(-45deg);
        transform-origin: right;
    }
    
    #ribbon {
        @extend .shadow;
        pointer-events: all;
        background: var(--foreground-text);
        color: var(--randomColorOfTheDay);
        position: absolute;
        top: 0px;
        height: 70px;
        width: 600px;
        padding: 0px;
        margin: 0px;
        left: 0px;
        transition: 0.5s;
        font-size: 1.3em;
        font-weight: 300;
        
        
        #left {
            position: absolute;
            left: 0px;
            right: 300px;
            height: 100%;
            
            a {
                color: var(--randomColorOfTheDay);
                position: absolute;
                bottom: 40px;
                text-align: center;
                width: 100%;
                font-size: 0.9em;
            }
        }
        #right {
            position: absolute;
            left: 300px;
            right: 0px;
            height: 50px;
            padding: 10px 0px;
            top: 0px;
            text-align: center;
        }
        
        &:hover {
            left: 300px;
        }
    
        //slider switch
        .switch {
            position: relative;
            display: inline-block;
            width: 34px;
            height: 20px;
            bottom: -20px;
            left: 120px;
        }
        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: var(--randomColorOfTheDay);
        }

        input:focus + .slider {
            box-shadow: 0 0 1px var(--randomColorOfTheDay);
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(14px);
            -ms-transform: translateX(14px);
            transform: translateX(14px);
        }

        .slider.round {
            border-radius: 18px;
        }

        .slider.round:before {
        border-radius: 50%;
    }
    }
}